.DS_Store

# build
/node_modules
/dist
/build
**/target
**/pkg

# toolchain
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# resources
scripts/google-chrome-stable_current_amd64.deb

# deployment
/scripts/secrets/
*.db*
build/
backups/
blobs/

# generated
package-lock.json

# external
/lib/infini
/lib/poppler
